In [53]:
import numpy as np
import pandas
import sklearn.ensemble
import sklearn.metrics
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split


from pandas import read_csv, DataFrame
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
import lightgbm as lgb
import pandas as pd



# 'SK_ID' - IDшник
# 'CELL_LAC_ID' - ID соты
# 'MON' - месяц рассчета
# 'SUM_MINUTES' - суммарный трафик абонента на этой соте
# 'SUM_DATA_MB' - суммарный трафик в Мб
# 'SUM_DATA_MIN' - суммарная продолжительность data-сессий
train1 = pandas.read_csv('./train/subs_bs_consumption_train.csv', sep=';')



#'SK_ID' - IDшник
#'CELL_LAC_ID' - номер соты
#'DATA_VOL_MB' - сколько Мб использовали
#'START_TIME' - время начала
train2 = pandas.read_csv('./train/subs_bs_data_session_train.csv', sep=';')



#'SK_ID' - IDшник
#'CELL_LAC_ID' - номер соты
#'VOICE_DUR_MIN' - длина разговора
#'START_TIME' - время начала
train3 = pandas.read_csv('./train/subs_bs_voice_session_train.csv', sep=';')



#CSI - оценка, целевой
#SK_ID - ID клиента
#CONTACT_DATE - дата опроса
train4 = pandas.read_csv('./train/subs_csi_train.csv', sep=';')


#'SK_ID' - Idшник 
#'SNAP_DATE' - дата рассчета показателей
#'COM_CAT#1', 'COM_CAT#2', 'COM_CAT#3',u'COM_CAT#7', u'COM_CAT#8', u'COM_CAT#17', u'COM_CAT#18',
# 'COM_CAT#19', u'COM_CAT#20', u'COM_CAT#21', u'COM_CAT#22',
# 'COM_CAT#23', u'COM_CAT#24', u'COM_CAT#25', u'COM_CAT#26',
# 'COM_CAT#27', u'COM_CAT#28', u'COM_CAT#29', u'COM_CAT#30',
# 'COM_CAT#31', u'COM_CAT#32', u'COM_CAT#33', u'COM_CAT#34' - характеристики
# 'BASE_TYPE' - старая/новая абонентская база
# 'ACT' - активность абонента
# 'ARPU_GROUP' - группа по ARPU
# 'DEVICE_TYPE_ID' - тип устройства
# 'INTERNET_TYPE_ID' - 2G/3G/4G
# 'REVENUE' - выручка
# 'ITC' - расходы на интернет
# 'VAS' - расходы на VAS
# 'RENT_CHANNEL' - расходы на аренду каналов
# 'ROAM' - расходы на роуминг
# 'COST' - себестоимость
train5 = pandas.read_csv('./train/subs_features_train.csv', sep=';')

In [55]:
df_train = train1
#missing data
total = df_train.isnull().sum().sort_values(ascending=False)
percent = (df_train.isnull().sum()/df_train.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

               Total   Percent
SUM_DATA_MIN  385251  0.362075
SUM_DATA_MB   385251  0.362075
SUM_MINUTES   373878  0.351386
MON                0  0.000000
CELL_LAC_ID        0  0.000000
SK_ID              0  0.000000

In [34]:
#CSI - оценка, целевой
#SK_ID - ID клиента
#CONTACT_DATE - дата опроса
#train4 = pandas.read_csv('./tesr/subs_csi_train.csv', sep=';')
test = pandas.read_csv('./test/subs_csi_test.csv', sep = ';')

In [35]:
test

     SK_ID  CONTACT_DATE
0      308         27.05
1     1789         26.05
2     3386         22.05
3     2429          9.05
4      693         29.05
5     2003         24.05
6      830         30.05
7     1003         28.05
8     2940         30.05
9     2352         12.05
10     376          8.05
11    1029          7.05
12    1219          9.05
13    3801         30.05
14    1043         23.05
15    4014          1.05
16      90         18.05
17    3877          8.05
18    2301         10.05
19    4085         10.05
20    3705          4.05
21    1286         14.05
22    4159         22.05
23    3082         30.05
24    1244         12.05
25     535         20.05
26    4514          2.05
27    3585         30.05
28    4003          8.05
29    2107         12.05
..     ...           ...
918   3933         14.05
919   1422         25.05
920    876          8.05
921   3542          9.05
922   1696         22.05
923   4353         28.05
924    103          1.05
925   2667         27.05
926   1979         25.05
927   4161         24.05
928   2054         30.05
929   2004         27.05
930    264         18.05
931   2615         20.05
932   2951         31.05
933   2523          6.05
934    562          7.05
935    220         10.05
936   2380          9.05
937   4285          5.05
938   1198          5.05
939   1420          2.05
940   4692         25.05
941    190         21.05
942    880         12.05
943    871         26.05
944   3002         29.05
945   4492         12.05
946   2919          3.05
947   1856         19.05

[948 rows x 2 columns]

In [51]:
from random import randint
res = []
for i in range(948): 
    res.append(randint(0,1))

In [52]:
f = open('RESULT','w')
for i in res:
    f.write(str(randint(0,1)))